.txtButton{
    -fx-text-fill: #6666ff;
}

.txtButton:hover{
    -fx-text-fill: #1a1aff;
    -fx-underline: true;
    -fx-cursor: hand;
}

.btn:hover{
    -fx-cursor: hand;
}

.list-view {
}

.list-cell:hover {
    -fx-cursor: hand;
}

.toggle-button:selected{
    -fx-background-color:
    #9f5eff,
    linear-gradient(#a37cf3 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #b08bfb 45%, rgba(200,100,200,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(120,0,250,0.7) , 15, 0.0 , 0 , 1 );
}

.toggle-button:selected:focused{
    -fx-background-color:
            #9f5eff,
            linear-gradient(#a37cf3 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #b08bfb 45%, rgba(200,100,200,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
-fx-effect: dropshadow( three-pass-box , rgba(120,0,250,0.7) , 15, 0.0 , 0 , 1 );
}

.toggle-button{
    -fx-background-color:
    #8f8f8f,
    linear-gradient(#b6b6b6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 3, 0.0 , 0 , 1 );
}

.toggle-button:focused {
    -fx-background-color: #8f8f8f,
    linear-gradient(#b6b6b6 50%, white 100%),
    radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230, 230, 230, 0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0, 1, 1;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 3, 0.0, 0, 1);
}

.readBtn:selected{
    -fx-background-color:
            #9f5eff,
            linear-gradient(#a37cf3 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #b08bfb 45%, rgba(200,100,200,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(120,0,250,0.7) , 15, 0.0 , 0 , 1 );
}

.readBtn:selected:focused{
    -fx-background-color:
            #9f5eff,
            linear-gradient(#a37cf3 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #b08bfb 45%, rgba(200,100,200,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(120,0,250,0.7) , 15, 0.0 , 0 , 1 );
}

.readBtn:disabled{
    -fx-background-color:
            #8f8f8f,
            linear-gradient(#b6b6b6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 3, 0.0 , 0 , 1 );
}

.readBtn:focused{
    -fx-background-color:
            #8f8f8f,
            linear-gradient(#b6b6b6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 3, 0.0 , 0 , 1 );
}